.button{background-color:gray;width:100px;font-size:10px;padding:10px;color:white;text-align:center;cursor:pointer;}
.button:hover{background-color:#999;}
#camera{border:2px solid gray;max-width:160px;max-height:120px;margin:0 auto;display:none;}